<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{productDetails.images[0]}}" class="d-block w-100" alt="{{productDetails.title}}">
            </div>
            <div class="carousel-item">
              <img src="{{productDetails.images[1]}}" class="d-block w-100" alt="{{productDetails.title}}">
            </div>
            <div class="carousel-item">
              <img src="{{productDetails.images[2]}}" class="d-block w-100" alt="{{productDetails.title}}">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </div>
      <div class="col-lg-6">
        <div class="card-body">
          <h1 class="card-title">{{productDetails.title}}</h1>
          <p class="card-text">{{productDetails.description}}</p>
          <p class="rating">Rating: {{productDetails.rating}}</p>
          <h2 class="card-text">${{productDetails.price}} <span
              class="originalPrice">${{productDetails.price/(100-productDetails.discountPercentage)*100 | number :
              '1.2-2'}}</span><span style="color: coral;"> {{productDetails.discountPercentage}}%</span></h2>
          <p>In Stock: {{productDetails.stock}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>


      <h2 style="padding-top: 30px;">Product of Category {{productDetails.category}}</h2>
      <!-- <div class="grid-container">
        <div class="grid-item" *ngFor="let prod of productListOfCategory">
          <div class="card" style="width: 18rem;">
            <img src="{{prod.thumbnail}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{prod.brand}}</h5>
              <p class="card-text">${{prod.price}}</p>
              <p class="card-text">{{prod.description}}</p>
              <a target="_blank" class="btn btn-primary" (click)="viewProduct(prod.id)">View Product</a>
            </div>
          </div>
        </div>
      </div> -->
      <app-products-grid [productData]="productListOfCategory" ></app-products-grid>

    </div>
  </div>
</section>